 github: [metadata]
 encoding: UTF-8
 kramdown:
   input: GFM
   hard_wrap: false
 future: true
 jailed: false
 plugins:
  - jekyll-seo-tag
 # theme: jekyll-theme-midnight
 remote_theme: Lunar-Dust/midnight
 gfm_quirks: paragraph_end

 lsi: false
 safe: true
# source: [your repo's top level directory]
 incremental: false
 highlighter: rouge
 gist:
   noscript: false
 kramdown:
   math_engine: mathjax
   syntax_highlighter: rouge